@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

body {
    background-color: teal;
}

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.container {
    margin: auto;
    width: 50%;
    padding: 16px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.7);
}

input[type='text'], input[type='password'], input[type='number'], input[type='email'], select{
    width: 100%;
    padding: 15px;
    margin: 5px 0px 22px 0px;
    display: inline-block;
    border: none;
    background: whitesmoke;
}

input:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

#terms {
    border: 2px solid black;

}

button {
    background-color: teal;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}